
  <div id="h">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>SOON</h1>
          <h5>WE ARE CRAFTING THE LAST DETAILS TO LAUNCH OUR SITE</h5>
          <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
          <div class="countdown-header">
            <div class="countdown" data-date="2018/11/15"></div>
          </div>
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  <!--/H-->