<app-header></app-header>
<div class="container ptb">
  <div class="row">
    <div class="col-md-6">
      <h2>Nous collectons les informations nécessaires au bal.</h2>
      <BR />
      <h4>SONDAGE POUR LE BAL DE FIN D'ANNEE.</h4>

      <p>Il s'agite ici d'une petite série de questions qui nous permettrait d'organiser au mieux le bal de fin d'année de notre école en vue d'une satisfaction complète.</p>
      <p>Nous vous demandons de ce fait de nous accorder un petit instant afin de répondre au sondage.</p>
      <p><button class="btn btn-conf btn-blue">Participer</button></p>
    </div>
    <!--/col-md-6-->
    <div class="col-md-6">
      <img src="img/browser.png" class="aligncenter" width="350">
    </div>
    <!--/col-md-6 -->
  </div>
  <!--/row-->
</div>

<app-form></app-form>

<app-footer></app-footer>

<!-- JavaScript Libraries -->